<div class="container">
  <h2>ユーザ一詳細</h2>
    <p class="left"><strong>■フォローしている人一覧</strong></p>
    <% @users.followed_users.each do |user| %>
      <div>
      <p class="left"><%= user.name %></p>
        <% end %>
    <br>
    <p class="left">---------------------------------- </p>
    
    <p class="left"><strong>◆フォロワー一覧</strong></p>
    <% @users.followers.each do |user| %>
      <div>
      <p class="left"><%= user.name %></p>
       <% end %>
      </div>
      <%= render 'form' %>
</div>